@model IEnumerable<Employee>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Employee List</h2>
        </div>
        <div class="col-6  text-end p-0">
            <a asp-controller="Employee" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i> Create new employee</a>
        </div>
    </div>

</div>
<div>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Full Name</th>
                    <th>Date of Birth</th>
                    <th>Age</th>
                    <th>Ethnicity</th>
                    <th>Job</th>
                    <th>Citizen ID</th>
                    <th>Phone Number</th>
                    <th class="w-20">Edit</th>
                    <th class="w-20">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FullName</td>
                        <td>@item.DOB.ToString("dd-MM-yyyy")</td>
                        <td>@item.Age</td>
                        <td>@item.Ethnicity</td>
                        <td>@item.Job</td>
                        <td>@item.CitizenId</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <a onclick="deleteEmployee('@item.Id')" class="btn btn-danger">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section scripts{
    <script src="~/js/employeecontroller.js"></script>
}