@model IEnumerable<District>

<div class="d-flex justify-content-center gap-lg-4">
    <div>
        <a asp-controller="Province" asp-action="Index" class="btn btn-outline-primary">Province</a>
    </div>
    <div>
        <a asp-controller="District" asp-action="Index" class="btn btn-outline-primary">District</a>
    </div>
    <div>
        <a asp-controller="Commune" asp-action="Index" class="btn btn-outline-primary">Commune</a>
    </div>
</div>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>District List</h2>
        </div>
        <div class="col-6  text-end p-0">
            <a asp-controller="District" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i> Create new district</a>
        </div>
    </div>
</div>

<div>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>District Id</th>
                    <th>District Name</th>
                    <th>Province</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DistrictId</td>
                        <td>@item.DistrictName</td>
                        <td>@item.Province?.ProvinceName</td>

                        <td>
                            <a asp-controller="District" asp-action="Edit" asp-route-id="@item.DistrictId" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <a onclick="deleteProvince('@item.DistrictId')" class="btn btn-danger">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>